.btn {
  cursor: pointer;
  background-color: #959595;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
}

.btn.btn-blue {
  background-color: #6363ff;
}

.btn.btn-green {
  background-color: green;
}

.btn.btn-dark-blue {
  background-color: darkblue;
}

.btn.btn-red {
  background-color: #fa8072;
}
